name: Publish Docker
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      â€ name: build-push
        uses: docker/build-push-action@v1
        with:
          username: ${{ spidi001 }}
          password: ${{ h2D4a6T9i03n1V5 }}
          registry: myregistry
          repository: spidi001/java-jersey
          tags: v1		
          

